body{
    background-color: #121212;
}


header{
    padding: 20px 0;
}
input[type="search"]{
    border: none;
}

td{
    font-size: .9rem;
}


.coins{
    overflow-x: auto;
}

#emoji{
    font-size: 9rem;
}
#status-404{
    font-size:4rem;
}
footer > a{
    transition: .2s ease;
}

footer  a:hover{
    color: #007bff !important; 
}