<header class="text-center d-flex align-items-center justify-content-center p-5">
    <img src="/images/logo.png"  class="me-2" width="90" alt="">
    <a href="/" class="text-white h1" style="text-decoration: none;">Coin Quotes</a>
   
</header>